<ul id="dashboardMenu" class="contextMenu">
  <li><button type="button" class="openCreateFolder">New Folder</button></li>
  <li><button type="button">Upload File</button></li>
</ul>

<ul id="fileMenu" class="contextMenu">
  <li><button type="button">Open</button></li>
  <li><button type="button">Delete</button></li>
  <li><button type="button">Download</button></li>
  <li><button type="button">Rename</button></li>
</ul>

<ul id="folderMenu" class="contextMenu">
  <li><button type="button" class="open">Open</button></li>
  <li><button type="button" class="delete">Delete</button></li>
  <li><button type="button" class="rename">Rename</button></li>
</ul>
