<a type="button" class="file" data-id="<%= file.id %>">
  <img
    src="<%= file.mimeType.startsWith('image/') ? file.url : '/icons/file.svg' %>"
    alt="file"
  />
  <input
    type="text"
    class="file-name"
    value="<%= file.name %>"
    data-id="<%= file.id %>"
    data-type="file"
    readonly
  />
</a>
