<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css">
    <title><%= title %></title>
  </head>
  <body>
    <section class="status-container">
      <h1 style="text-align: center">
        <%= status.code ? `${status.code} | ${status.msg}` : status.msg %>
      </h1>
      <a href="<%= redirect.path %>"><%= redirect.msg %></a>
    </section>
  </body>
</html>
